




.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}


.rigth-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3em;
  color: black;
  z-index:10;
  cursor: pointer;
  user-select:none;
  transform:translateY(-50%)
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3em;
  color: black;
  z-index:10;
  cursor: pointer;
  user-select:none;
  
}
@media screen and (max-width: 960px){

  .slide{
  transition: 0.5s;
  float: left;
}

.slide.active{
  opacity: 1;
  transition-duration: 15s;
  transform: scale(1.08);
}

}
